src/main/resources/wsdl/fraudDetection.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://finance.reichel.net.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="FinanceApplicationService" targetNamespace="http://finance.reichel.net.br/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://finance.reichel.net.br/" elementFormDefault="unqualified" targetNamespace="http://finance.reichel.net.br/" version="1.0">

  <xs:element name="Application" type="tns:applicationRequest"/>

  <xs:element name="FraudDetectionResponse" type="tns:applicationResponse"/>

  <xs:element name="details" type="tns:applicationDetails"/>

  <xs:element name="detectFraud" type="tns:detectFraud"/>

  <xs:element name="detectFraudResponse" type="tns:detectFraudResponse"/>

  <xs:complexType name="detectFraud">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:applicationRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="applicationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="customerId" type="xs:long"/>
      <xs:element minOccurs="0" ref="tns:details"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="applicationDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="bank" type="xs:string"/>
      <xs:element minOccurs="0" name="bankDetails" type="xs:string"/>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
      <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="document" type="xs:string"/>
      <xs:element minOccurs="0" name="income" type="xs:double"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="occupation" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="detectFraudResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:applicationResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="applicationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="detectFraudResponse">
    <wsdl:part element="tns:detectFraudResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="detectFraud">
    <wsdl:part element="tns:detectFraud" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FinanceApplication">
    <wsdl:operation name="detectFraud">
      <wsdl:input message="tns:detectFraud" name="detectFraud">
    </wsdl:input>
      <wsdl:output message="tns:detectFraudResponse" name="detectFraudResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FinanceApplicationServiceSoapBinding" type="tns:FinanceApplication">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="detectFraud">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="detectFraud">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="detectFraudResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FinanceApplicationService">
    <wsdl:port binding="tns:FinanceApplicationServiceSoapBinding" name="FinanceApplicationPort">
      <soap:address location="http://10.211.55.5:8080/fraud-experts/services/fraudDetection"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>