src/test/resources/return.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="return" type="returnType"/>
  <xs:complexType name="returnType">
    <xs:sequence>
      <xs:element type="xs:string" name="status"/>
      <xs:element type="xs:string" name="description"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>